<div class="card">
    <div class="card-header">
        Create Channel
    </div>
    <form [formGroup]="createChannelFrom" (ngSubmit)="onSubmit()" class="card-body">
        <div class="form-group">
            <label for="channelName">Channel Name</label>
            <input type="text" formControlName="channelName" class="form-control" id="channelName" [ngClass]="{'is-invalid': submitted && f.channelName.errors }">
            <div *ngIf="submitted && f.channelName.errors" class="invalid-feedback">
                <!-- alert alert-warning -->
                <div *ngIf="f.channelName.errors.required">Channel name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="channelPrivacy">Channel Type</label>
            <select formControlName="channelPrivacy" class="form-control" id="channelPrivacy">
                <option>Public</option>
                <option>Private</option>
              </select>
        </div>
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Create
        </button>
    </form>
</div>