<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/profile">Profile</a>
        <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>

    </div>
</nav> -->

<!-- main app container -->
<div class="d-flex h-100">
  <app-sidebar
    class="sidebar"
    class="flex-shrink-1 bd-highlight"
    *ngIf="currentUser"
  ></app-sidebar>
  <div class="flex-fill h-100 overflow-hidden">
    <router-outlet class=""></router-outlet>
  </div>
</div>
