<li *ngFor="let message of this.messages" class="message-bubble me"
[ngClass]="(this.message.userSender == 1)?'me':'him'"
>
  {{ message.content }}
</li>

<li class="message-bubble me">Lorem ipsum dolor sit amet.</li>
<li class="message-bubble me">Aliquam voluptatem suscipit quaerat ipsam?</li>
<li class="message-bubble me">Nesciunt odio consectetur labore vel.</li>
<li class="message-bubble him">Voluptatum debitis exercitationem ab tenetur.</li>
<li class="message-bubble me">Ipsam explicabo aperiam autem fuga?</li>
<li class="message-bubble him">Officia earum doloribus commodi ratione?</li>
<li class="message-bubble me">Qui sed soluta quasi a!</li>
<li class="message-bubble him">Quia accusamus illo suscipit dolorem?</li>
<li class="message-bubble him">Placeat rem excepturi perspiciatis maxime.</li>
<li class="message-bubble him">Hic laboriosam cupiditate itaque alias!</li>
<li class="message-bubble me">Enim est sequi dolores praesentium!</li>
<li class="message-bubble me">Ipsam nemo iure dolor vel?</li>
<li class="message-bubble me">Expedita laboriosam veniam maxime iure.</li>
<li class="message-bubble me">Modi velit impedit voluptatibus exercitationem!</li>
<li class="message-bubble me">Quia obcaecati nam expedita harum.</li>
<li class="message-bubble him">Laudantium qui incidunt distinctio dolores?</li>
<li class="message-bubble me">Eaque consectetur illum tenetur porro.</li>
<li class="message-bubble me">Laboriosam ex laudantium reprehenderit nesciunt.</li>
<li class="message-bubble him">Nesciunt cum nisi amet corporis.</li>
<li class="message-bubble me">Temporibus quas perferendis labore beatae.</li>
<li class="message-bubble me">Ipsam explicabo aperiam autem fuga?</li>
<li class="message-bubble him">Officia earum doloribus commodi ratione?</li>
<li class="message-bubble me">Qui sed soluta quasi a!</li>
<li class="message-bubble him">Quia accusamus illo suscipit dolorem?</li>
<li class="message-bubble him">Placeat rem excepturi perspiciatis maxime.</li>
<li class="message-bubble him">Hic laboriosam cupiditate itaque alias!</li>
<li class="message-bubble me">Enim est sequi dolores praesentium!</li>
<li class="message-bubble me">Ipsam nemo iure dolor vel?</li>
<li class="message-bubble me">Expedita laboriosam veniam maxime iure.</li>
<li class="message-bubble me">Modi velit impedit voluptatibus exercitationem!</li>
<li class="message-bubble me">Quia obcaecati nam expedita harum.</li>
<li class="message-bubble him">Laudantium qui incidunt distinctio dolores?</li>
<li class="message-bubble me">Eaque consectetur illum tenetur porro.</li>
<li class="message-bubble me">Laboriosam ex laudantium reprehenderit nesciunt.</li>
<li class="message-bubble him">Nesciunt cum nisi amet corporis.</li>
<li class="message-bubble me">Temporibus quas perferendis labore beatae.</li>
